<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D Interactive Card</title>
    <link rel="stylesheet" href="../static/css/card.css">
</head>
<body>
<div class="scene">
    <div class="cardFront">
        <div class="card_face card_face--front">Cover Message
            <img class="buttonNext" src="../static/images/Arrow%20Right.png" alt="Next"></div>
        <div class="card_face card_face--inside-left">Inside Left
            <img class="buttonPrev" src="../static/images/Arrow%20Right.png" alt="Prev"></div>
    </div>
        <div class="cardBack">
            <div class="card_face card_face--inside-right">Inside Right
                <img class="buttonNext" src="../static/images/Arrow%20Right.png" alt="Next"></div>
            <div class="card_face card_face--back">Back Message
                <img class="buttonPrev" src="../static/images/Arrow%20Right.png" alt="Prev"></div>
        </div>

</div>
<script src="../static/js/card.js"></script>
</body>
</html>
