<div class="scene">
    <div class="cardFront">
        <div class="card_face card_face--front">
            <div class="card_section top_section">Top Section</div>
            <div class="card_section middle_section">Middle Section</div>
            <div class="card_section bottom_section">Bottom Section</div>
            <img class="buttonNext" src="../../static/images/Arrow%20Right.png" alt="Next"></div>
        <div class="card_face card_face--inside-left">
            <div class="card_section top_section">Top Section</div>
            <div class="card_section middle_section">Middle Section</div>
            <div class="card_section bottom_section">Bottom Section</div>
            <img class="buttonPrev" src="../../static/images/Arrow%20Right.png" alt="Prev"></div>
    </div>
    <div class="cardBack">
        <div class="card_face card_face--inside-right">
            <div class="card_section top_section">Top Section</div>
            <div class="card_section middle_section">Middle Section</div>
            <div class="card_section bottom_section">Bottom Section</div>
            <img class="buttonNext" src="../../static/images/Arrow%20Right.png" alt="Next"></div>
        <div class="card_face card_face--back">
            <div class="card_section top_section">Top Section</div>
            <div class="card_section middle_section">Middle Section</div>
            <div class="card_section bottom_section">Bottom Section</div>
            <img class="buttonPrev" src="../../static/images/Arrow%20Right.png" alt="Prev"></div>
    </div>

</div>
