<div class="scene">
    <div class="cardFront">
        <div class="card_face card_face--front">
            <img class="buttonNext" src="static/images/Arrow%20Right.png" alt="Next">
        </div>
        <div class="card_face card_face--inside-left">
            <img class="buttonPrev" src="static/images/Arrow%20Right.png" alt="Prev">
        </div>
    </div>
    <div class="cardBack">
        <div class="card_face card_face--inside-right">
            <img class="buttonNext" src="static/images/Arrow%20Right.png" alt="Next">
        </div>
        <div class="card_face card_face--back">
            <img class="buttonPrev" src="static/images/Arrow%20Right.png" alt="Prev">
        </div>
    </div>
</div>